<nav class="flex-column">
    <NavLink href="" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> Home
    </NavLink>
    <NavLink href="mentenanta">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Fișe de Mentenanță
    </NavLink>
    <NavLink href="add-mentenanta">
        <span class="oi oi-plus" aria-hidden="true"></span> Adaugă Fișă
    </NavLink>
</nav>

<style>
    nav.flex-column {
        display: flex;
        flex-direction: column;
    }

    nav a {
        padding: 8px 16px;
        text-decoration: none;
        color: #333;
    }

        nav a:hover {
            background-color: #ddd;
        }
</style>
